* { box-sizing:border-box;  }
	#page-banner  { text-align:center; position:relative; background-color:#00176e; color:#ffffff; height:679px; overflow:hidden; }
	.bg-image     { background-size:cover; background-position:center center; }
	.overlay    { position:relative; background-color:rgba(0,23,110,.9); height:100%; width:100%; z-index:2; }
	.inner      { padding-top:50px; }
	h1      { color:#ffffff; margin:0 auto; }
	.video_wrap   { height:100%; width:100%; position:absolute; left:0; overflow:hidden; top:0; padding-bottom:56.5%; } 
	iframe      { height:100%; position:absolute; width:100%; top:0; left:0; }
	body {height: 100vh; margin: 0px; font-family: Arial; font-weight: bold; color: #4A6088; background-color: #AFB7D3; display: flex; align-items: center; justify-content: center;}

#text_soon {font-size: 6vw; text-align: center;}

