
@font-face {
  font-family: 'Ilisarniq-Regular';
  src: url('Ilisarniq-Regular.eot?#iefix') format('embedded-opentype'),  url('Ilisarniq-Regular.otf')  format('opentype'),
	     url('Ilisarniq-Regular.woff') format('woff'), url('Ilisarniq-Regular.ttf')  format('truetype'), url('Ilisarniq-Regular.svg#Ilisarniq-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
